name: CI

on:
  push:
    branches: ['master']
  pull_request:
    branches: ['develop', 'feature/*', 'fix/*']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run Linting
        run: npm run lint

      - name: Run Typecheck
        run: npm run typecheck

      - name: Run Tests
        run: npm run test -- --run

      - name: Build
        run: npm run build
        env:
          NEXT_TELEMETRY_DISABLED: 1
