name: Deploy

on:
  push:
    branches: ['develop', 'master']

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Trigger Deployment
        run: |
          curl -f -X POST "${{ secrets.DEPLOY_WEBHOOK_URL }}" || exit 1
